<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New Expression</title>
  </head>
  <body>
    <h1>Make a New Expression</h1>
    
    <form action="/expressions" method="POST">
      <section>
        <label for="description"> Expression Text </label>
        <br>
        <textarea name="description" id="description" cols="30" rows="5"></textarea>
      </section>
        <button>Submit</button>
      
    </form>
    <a href="/expression">See all expressions</a>



  
  </body>
</html>